@model List<_03.Fiap.Web.MVC.Models.Item>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
@Html.ActionLink("Cadastrar Item","Cadastrar","Item")
<table class="table">
    <tr>
        <th>Nome</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Descrição</th>
        <th>Maior Idade</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Quantidade</td>
            <td>@item.Preco</td>
            <td>@item.Descricao</td>
            <td>@item.MaiorIdade</td>
        </tr>
    }
</table>


